  :root {
  --token-primary-c: rgba(20, 20, 19);
  --navbar-link-c: rgba(20, 20, 19, 0.7);
  --navbar-link-hover-c: rgba(20, 20, 19);
  --navbar-separator-bg-c: var(--c-indigo-40);
  --ifm-dropdown-background-color: var(--token-secondary-bg-c);
  --navbar-icon-link-c: var(--c-indigo-60);
  --navbar-dropdown-icon: var(--ifm-menu-link-sublist-icon);
}

//overrides
#__docusaurus {
  .navbar {
    border-bottom: 1px solid rgba(20, 20, 19, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    width: 100vw;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--token-primary-bg-c);
    z-index: var(--z-navbar);

    .container {
      max-width: none;
      padding: 0;
      margin: 0;
      background-color: var(--token-primary-bg-c);
    }

    &__inner {
      width: 100%;
      flex-grow: 1;
      flex-wrap: nowrap;
      padding: 0 2rem;
      margin: 0;
      justify-content: space-between;
      background-color: var(--token-primary-bg-c);
      min-height: var(--ifm-navbar-height);

      @media (max-width: 996px) {
        padding: 0 16px;
      }
    }

    &__items {
      min-width: auto;
      align-self: stretch;
      align-items: center;
      position: relative;
      gap: 2rem;
      margin: 0;
      padding: 0;
      
      @media (max-width: 996px) {
        gap: 0;
      }

      &:not(.navbar__items--right) {
        .navbar__link {
          @media (max-width: 996px) {
            display: none;
          }
        }

        :not(.cta) {
          &.navbar__link {
            align-self: stretch;
            align-items: center;
            position: relative;

            @media (min-width: 996px) {
              display: flex;
            }

            &::after {
              content: "";
              position: absolute;
              height: 2px;
              left: var(--ifm-navbar-item-padding-horizontal);
              right: var(--ifm-navbar-item-padding-horizontal);
              bottom: 0;
              background: rgba(0, 0, 0, 0);
              transition: background-color 0.2s ease-out;
            }

            &--active {
              color: var(--ifm-link-color);

              &::after {
                background: var(--ifm-link-color);
              }
            }
          }
        }
      }

      .cta {
        display: flex;
        align-items: center;
        align-self: initial;
        padding: 0.375rem 0.625rem;
        background: linear-gradient(90deg, #495fff 0%, #18c6ff 114.68%);
        color: #fff;
        border-radius: 200px;
        white-space: nowrap;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 100%;
        transition: opacity 0.2s ease-out;
        margin-inline-start: 0.5rem;

        @media (max-width: 1400px) {
          display: none;
        }

        &:hover,
        &:active {
          opacity: 1;
        }

        &::after {
          content: "";
          width: 12px;
          height: 12px;
          mask-size: 100% 100%;
          background-color: currentColor;
          mask-image: url("../../static/icons/arrow-forward-outline.svg");
          margin-inline-start: 0.125rem;
        }

        svg {
          margin-inline-start: 0.125rem;

          &[class^="iconExternalLink"] {
            display: none;
          }
        }
      }

      &--right {
        flex-grow: 0;
        margin-left: auto;
        justify-content: flex-end;
        gap: 0.5rem;

        @media (max-width: 996px) {
          gap: 0.25rem;
        }

        .icon-link,
        [class*="toggle_"] {
          padding: 0.5rem;
          display: flex;
          transition: opacity 0.2s ease-out;
          color: var(--navbar-link-c);

          @media (max-width: 996px) {
            padding: 0.25rem;
          }

          &:hover,
          &:focus,
          &:active {
            color: var(--token-primary-c);
          }
        }

        .icon-link {
          &-mask {
            &::before {
              content: "";
              width: 24px;
              height: 24px;
              display: flex;
              background-color: var(--navbar-link-hover-c);
              mask-repeat: no-repeat;
              mask-position: center;
              mask-size: 100% 100%;
            }
            &:hover {
              opacity: 0.7;
            }
          }

          &-github {
            &::before {
              mask-image: url("../../static/logos/github.svg");
            }
          }

          &-telegram {
            &::before {
              mask-image: url("../../static/logos/telegram.svg");
            }
          }

          &-x {
            &::before {
              mask-image: url("../../static/logos/x.svg");
            }
          }

          &-discord {
            &::before {
              mask-image: url("../../static/logos/discord.svg");
            }
          }
          @media (max-width: 996px) {
            &-mask {
              &::before {
                width: 22px;
                height: 22px;
              }
            }
          }
        }

        div {
          &.dropdown {
            &:nth-of-type(1) {
              @media (max-width: 996px) {
                display: none;
              }
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
              @media (max-width: 1216px) {
                display: none;
              }
            }
          }

          &:nth-last-of-type(1) {
            order: 4;
          }
        }

        .icon-link-x {
          order: 5;
        }

        .icon-link-discord {
          order: 6;
        }
        .icon-link-telegram {
          order: 7;
        }

        .icon-link-github {
          order: 8;
        }
      }
    }

    &__item {
      align-self: stretch;
      align-items: center;
      position: relative;
      transition: opacity 0.2s ease-out;
      display: inline-block;

      &.dropdown {
        align-self: stretch;
        display: flex;

        .navbar__link {
          display: flex;
          align-items: center;

          &::after {
            position: static;
            border: none;
            background: var(--ifm-menu-link-sublist-icon) 50% / 0.5rem 0.3rem;
            background-repeat: no-repeat;
            min-width: 0.5rem;
            min-height: 0.25rem;
            transform: rotate(180deg) translateY(-0.125rem);
          }
        }

        .dropdown__menu {
          top: 100%;
        }
      }

      &:not(.navbar__link--active) {
        &.navbar__link {
          &:hover {
            color: var(--navbar-link-hover-c);
          }
        }
      }
    }

    &__link {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 17px;
      color: var(--navbar-link-c);
    }

    &__brand {
      display: flex;
      align-items: center;
      margin-right: 3rem;
      height: var(--ifm-navbar-height);

      @media (max-width: 996px) {
        margin-right: 0;
      }

      .navbar__brand {
        display: flex;
      }

      .navbar__logo {
        display: block;
        height: auto;

        img {
          display: block;
          height: 30px;
          width: auto;
          
          @media (max-width: 996px) {
            height: 30px;
          }
        }
      }
    }

    > .logo {
      display: none;
    }

    &__items--left {
      flex: 1 1 auto;
      justify-content: flex-start;
      margin-right: auto;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .navbar-sidebar__button {
      @media (max-width: 996px) {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    &__items--right {
      flex: 0 0 auto;
      margin-left: 0;
      gap: 0.25rem;
    }

    .separator {
      width: 1px;
      height: 1.75rem;
      background: var(--navbar-separator-bg-c);
      margin-inline-start: 0.5rem;
      margin-inline-end: 0.5rem;
    }

    .language {
      padding: 0;
      margin-inline-start: calc(-1 * var(--ifm-navbar-item-padding-horizontal));
      margin-inline-end: -0.25rem;

      &::after {
        display: none;
      }
    }
  }
}
